<a href="https://colab.research.google.com/github/G-Vangala/C/blob/main/Practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a program to print prime numbers in the given range by using function(25 to 50).

In [ ]:
def prime(a,b):
  for i in range(a,b+1):
    k=0
  for j in range(2,i):
    if a%b==0:
      k+=1
    if k==0:
      print(i)
a=int(input())
b=int(input())
prime(a,b)

2.Write a program to read any month in integer and display days for that month.

In [ ]:
n=int(input("Enter a month "))
if n==1 or n==3 or n==5 or n==7 or n==8 or n==10 or n==12:
  print("31 days")
elif n==4 or n==6 or n==9 or n==11:
  print("30 days")
elif n==2:
  print("28 or 29 days")
else:
  print("Please enter correct choice.")

Enter a month 2
28 or 29 days

3.Write a program to print even length words in a string.

In [ ]:
s="This is a python class"
x=s.split(' ')
for i in x:
  if len(i)%2==0:
    print(i,end=" ")

This is python

4.Write a program to capitalize the first and last letter of each word.

In [ ]:
s=input()
x=s.split(' ')
a=""
for i in x:
  b=i.capitalize()
  y=i[-1].capitalize()
  a=b[0:-1]+y
print(a,end=" ")

how are you
YoU

5.Write a program to read a string from the user and display first character of each word as a captial letter.

In [ ]:
s=input()
x=s.title()
print(x)

it's not who I am underneath but what I do that defines me
It'S Not Who I Am Underneath But What I Do That Defines Me

6.Write a program to convert a list of multiple integers into single integers.

In [ ]:
a=[11,33,50]
b=""
for i in a:
  b+=str(i)
print(b)

113350

7.Write a program to find the power of a number using recursion.

8.Write a program to sort tuples by total digits
Input: list=[(3,4,6,723),(1,2),(134,234,34)]
Output: [(1,2),(3,4,6,723),(134,234,34)]

9.Take 5 subject marks from user and display the student's grade.
Condition: If avg is 90-100(O)
80-100(A+)
70-80(A)
.
.
.
below 40(Fail)

In [1]:
m1=int(input())
m2=int(input())
m3=int(input())
m4=int(input())
m5=int(input())
avg=(m1+m2+m3+m4+m5)/5
if avg>=90:
  print("O")
elif avg>=80 and avg<90:
  print("A+")
elif avg>=70 and avg<80:
  print("A")
elif avg>=60 and avg<70:
  print("B+")
elif avg>=50 and avg<60:
  print("B")
elif avg>=40 and avg<50:
  print("C+")
else:
  print("D")

100
24
12
100
98
B+

10.Write a program that prints one if all the three given numbers are in ascending order. Otherwise, print 0.

In [4]:
n1=int(input())
n2=int(input())
n3=int(input())
if n1<n2 and n2<n3:
  print("1")
else:
  print("0")

6
6
5
0

11.Check if the given number is perfect or not.

12.Check if the given string is palindrome or not.

13.Find the GCD of 2 numbers with and without recursion.
Input: 5,3

14.Print sum of even digits in a given number.
Input: 1243

In [5]:
n=input()
sum=0
for i in n:
  i=int(i)
  if i%2==0:
    sum=sum+i
print(sum)

1243
6

15.Calculate the sum of squares of digits of a number given by the user.

In [6]:
n=input()
sum=0
for i in n:
  i=int(i)
  sum=sum+(i*i)
print(sum)

22
8

16.Given a string 's'.
s="abcdefcba"
print(countfrontbackmatches)

17.[1,2,2,3,3,3,4,4,4,4,...]

18.Print the no. of vowels and consonants in a string.

In [ ]:
s=input()
s=s.lower()
for i in s:
  if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
    print("Vowels = " + i)
  else:
    print("Consonants = " + i)

19.Given 2 integers a and b. If a is less than b, print all the integers between a and b in ascending order. Else, print in descending order.

20.Program to print the biggest value among 3 numbers.

In [9]:
a=int(input())
b=int(input())
c=int(input()
if a>b and c:

SyntaxError: ignored

21.Count the number of strings where the string length is 2 or more and the first and last characters are same from the given list of strings.

22.There is a walking track of 3 km. Calculate the total distance he travels in meters. If the distance is less than 40,000 km, give a message as "Need to walk more." More than 40,000= "You did a great job."

23.Given a list of student names in L and a character. Display the names of students who fist letter is given in character.

24.Given a list of city names, print the city names whose length is greater than the given lengths.